template(name='faq')
    .centered.row
        h1.ui.header FAQ
            i#add_question.link.green.plus.icon
    .centered.row
        .twelve.wide.column
            .ui.styled.accordion
                each questions
                    +question_item
                
                
template(name='question_item')
    .title
        |#{title}
        i.dropdown.icon
    .content
        |!{content}
        a.ui.icon.button(href="/question/#{_id}")
            i.right.arrow.icon
            
            
template(name='question')
    with question
        .row
            .three.wide.column
                a.ui.top.left.attached.basic.button(href="/faq")
                    i.arrow.left.icon
                    |FAQ
            .twelve.wide.center.aligned.column
                h1.ui.header
                    if editing
                        |Edit
                    else
                        |View
                    |#{title}
        .row
            .ten.wide.column
                +title
                +content
            .five.wide.column
                +edit_button
                if editing
                    #delete_bike.ui.red.icon.button
                        i.trash.icon