template(name='home')
    +slider

template(name='slider')
    #layerslider(style='width:909px; height: 600px;')
        each slide_docs
            .ls-slide(data-ls='slidedelay: 3000;')
                img.ls-bg(src="{{c.url image_id }}", alt='Slide background' )
                .ls-l(style="top: 20%; height: 170px; width: 170px; left: 20%;" )
                    // a(href='/join')
                    h1 title
                .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
                    h2.slider-subheader subtitle
                    // h2.slider-subheader
                    //     | My goal is to spread light to others to help them navigate their own journey through life.