template(name='post')
    with post
        unless editing
            .centered.row
                h1.ui.center.aligned.header #{title}
            .ten.wide.column
                if image_id
                    img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
                if publish_date
                    h4.ui.header Published #{publish_when}
                .ui.basic.segment
                    +content
                if tags
                    each tags
                        .ui.basic.label #{this}
            .five.wide.column
                +user_card
                +toggle_editing_button
        else
            .centered.row
                .ui.header Edit Post
            .ui.form
                +title
                +content
                +publish_date
                +tags
            if tags
                +toggle_editing_button
            #delete.ui.red.icon.button
                i.trash.icon
