with day
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Volunteer Day
        .ui.form
            .fields
                .field
                    label Date
                    .ui.left.icon.input
                        i.calendar.icon
                        input#date(type='date' value=date)
            #save_day.ui.large.green.button Save
            #delete.ui.basic.button Delete Day